@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Display:wght@400..800&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

.ant-input-prefix {
  margin-right: 10px !important;
}

.ant-tabs-nav {
  width: 100%;
  justify-content: space-between !important;
  display: flex !important;
}

.custom-tabs-container {
  width: 100%;
}

.custom-tabs-header {
  display: flex;
  gap: 16px;
  padding: 0 16px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 16px;
}

.custom-tab {
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.custom-tab:hover {
  color: #1d0694;
}

.custom-tab.active {
  color: #1d0694;
  font-weight: 500;
}

.custom-tab.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background: #1d0694;
}

.custom-tabs-content {
  padding: 16px;
}
